/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* The track (background) of the scrollbar */
::-webkit-scrollbar-track {
  background: transparent; 
}

/* The draggable handle */
::-webkit-scrollbar-thumb {
  background: rgba(17, 25, 40, 0.5); /* Matches your dark theme */
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(17, 25, 40, 0.8); 
}
.list{
    flex: 1;
    display: flex;
    flex-direction: column;
}